<!DOCTYPE html>
<html>
<head>
    <% include partials/headerCommon %>

    <title><%= title %></title>
</head>
<body>

    <!-- Header + Navbar -->
    <% include partials/pageHeader.ejs %>

    <div class="container-fluid">

        <%
            var classes;

            function getClasses(index) {
                if(index == 0)
                    return "item active";
                else
                    return "item";
            }
        %>

        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">

                <div class="hobbies-item">
                    <h4>Brewing</h4>
                    <div class="c-wrapper">
                        <div id="brewCarousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner" role="listbox">
                                <% for(var i=0; i<brewPics.length; i++) { %>
                                <div class="<%= getClasses(i)%>">
                                    <img src="<%= 'images/hobbies/' + brewPics[i] %>">
                                </div>
                                <% } %>
                            </div>
                            <a class="left carousel-control" href="#brewCarousel" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#brewCarousel" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="hobbies-item">
                    <h4>Coding</h4>
                    <p>See my <a href="/projects">Projects</a> page</p>
                </div>

                <div class="hobbies-item">
                    <h4>Cooking</h4>
                    <div class="c-wrapper">
                        <div id="cookingCarousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner" role="listbox">
                                <% for(i=0; i<cookingPics.length; i++) { %>
                                <div class="<%= getClasses(i) %>">
                                    <img src="<%= 'images/hobbies/' + cookingPics[i] %>">
                                </div>
                                <% } %>
                            </div>
                            <a class="left carousel-control" href="#cookingCarousel" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#cookingCarousel" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="hobbies-item">
                    <h4>Obstacle Racing</h4>
                    <div class="c-wrapper">
                        <div id="raceCarousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner" role="listbox">
                                <% for(i=0; i<racePics.length; i++) { %>
                                <div class="<%= getClasses(i)%>">
                                    <img src="<%= 'images/hobbies/' + racePics[i] %>">
                                </div>
                                <% } %>
                            </div>
                            <a class="left carousel-control" href="#raceCarousel" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#raceCarousel" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>

</body>
<footer>
    <% include partials/footer %>
</footer>
</html>
