<!DOCTYPE html>
<html>
<head>
    <% include partials/headerCommon %>

    <title><%= title %></title>
</head>
<body>

    <!-- Header + Navbar -->
    <% include partials/pageHeader.ejs %>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">

                <h3>Work Projects</h3>
                <% projects.forEach(function(project) { %>

                    <% if(project.type == 'work') { %>
                    <div class="projects-item">
                        <h4><%= project.project %></h4>
                        <p><%= project.skillsUsed %></p>

                        <% if(typeof project.github != 'undefined') { %>
                        <a href="<%= project.github %>" target="_blank">Code</a><br>
                        <% } %>
                        <% if(typeof project.url != 'undefined') { %>
                        <a href="<%= project.url %>" target="_blank">Website</a>
                        <% } %>
                        <p><%= project.description %></p>
                    </div>
                    <% } %>

                <% }); %>


                <h3>Personal Projects</h3>
                <% projects.forEach(function(project) { %>

                    <% if(project.type == 'personal') { %>
                    <div class="projects-item">
                        <h4><%= project.project %></h4>
                        <p><%= project.skillsUsed %></p>

                        <% if(typeof project.github != 'undefined') { %>
                        <a href="<%= project.github %>" target="_blank">Code</a><br>
                        <% } %>
                        <% if(typeof project.url != 'undefined') { %>
                        <a href="<%= project.url %>" target="_blank">Website</a>
                        <% } %>
                        <p><%= project.description %></p>
                    </div>
                    <% } %>

                <% }); %>

            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>

</body>
<footer>
    <% include partials/footer %>
</footer>
</html>
